{%
  set classes = [
  'content-list-item',
  'arrow__hover--right-small',
  status ? 'content-list-item--status-parent',
]
%}
<a {{ attributes.addClass(classes).setAttribute('href', url) }}>
  {% if status %}
    <span class="tag tag--fill tag--small status
      {%- if status_value == 'TicketSaleNotOpen' %} status--not-for-sale{% endif -%}
      {%- if status_value == 'SoldOut' %} status--sold-out{% endif -%}
      {%- if status_value == 'Cancelled' %} status--cancelled{% endif -%}
      {%- if status_value == 'Occurred' %} status--occurred{% endif -%}">
      {{ status }}
    </span>
  {% endif %}
  <div class="content-list-item__image-container">
    {{ include('@novel/components/media-container.html.twig'
      , {
      attributes: create_attribute(),
      media: image,
      has_media: image,
      placeholder_text: image_placeholder_text,
    }, false) }}
  </div>
  <div class="content-list-item__content">
    {{ categories }}
    {% if date %}
      <div class="content-list-item__date">
        {{ date }}
      </div>
    {% endif %}

    <h2 class="content-list-item__title">{{ title }}</h2>

    {% if description %}
      <div class="content-list-item__description">
        {{ description }}
      </div>
    {% endif %}

    {% if bottom.0 %}
      <div class="content-list-item__content-bottom-container">
        {{ bottom }}
      </div>
    {% endif %}
    {% if start_date or end_date or ticket_price %}
      <div class="content-list-item__content-right-container">
        {% if start_date or end_date %}
          <time class="content-list-item__time" datetime="{{ datetime_attribute }}">
            {{ start_date }}{% if end_date %} - {{ end_date }}{% endif %}
          </time>
        {% endif %}
        {% if ticket_price %}
          <p class="content-list-item__pricing">{{ ticket_price }}</p>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {{ source(baseIconPath ~ '/arrow-ui/icon-arrow-ui-small-right.svg') }}
</a>
