{% set has_image = (image is not empty) and logo_img_enable %}

<a href="{{ path('<front>') }}" class="logo" aria-label="{{ 'Go to frontpage'|t({}, {'context': 'Logo aria-label'}) }}">
  <figure class="logo__content">
    {% if has_image %}
      {{ image }}
    {% endif %}
    <div class="logo__description  {{ has_image ? 'logo__description--has-image' : '' }}">
      <p class="logo__library-name">{{ title }}</p>
      <p>{{ place }}</p>
    </div>
  </figure>
</a>
