{{ attach_library('novel/show-more') }}
{% set show_more_text = '...'|t %}
{% set show_less_text = 'Show less'|t %}

{% if items|length > 1 %}
    <ul data-show-more-list>
        {% for item in items %}
            <li data-show-more-item class="tag tag--fill tag--small">
                {{ item.content|raw }}
            </li>
        {% endfor %}
      <button class="tag tag--fill tag--small cursor-pointer" aria-expanded="false" data-show-more-button data-show-more-text="{{ show_more_text }}" data-show-less-text="{{ show_less_text }}">
          {{ show_more_text }}
      </button>
    </ul>
{% else %}
    {% for item in items %}
        <span class="tag tag--fill tag--small">
            {{ item.content|raw }}
        </span>
    {% endfor %}
{% endif %}
