<header class="header">
    <div class="header__logo-desktop">
        <a class="header__logo-desktop-link" href="/">
                {{ logo }}
        </a>
    </div>
    <div class="header__menu">
        <nav class="header__menu-first" aria-label="Primary site navigation">
            <div>
                <div class="header__menu-navigation-mobile">
                    <div class="pagefold-parent--small header__menu-navigation-button header__button" id="header-sidebar-nav__toggle"
                    aria-controls="sidebarNav"
                    aria-expanded="false"
                    role="button"
                    tabIndex="0">
                        <div class="pagefold-triangle--small"></div>
                        <img width="20" height="14" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-menu.svg" alt="List of bookmarks"/>
                    </div>
                    <div class="header__menu-navigation-logo">
                       {{ logo }}
                    </div>
                </div>

                {{ drupal_menu('main') }}
            </div>
      {{ patron_menu }}
            <div class="header__menu-bookmarked header__button">
                <a href="{{ url('dpl_favorites_list.list') }}">
                    <img width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-heart.svg" alt="{{ 'List of bookmarks'|t({}, {'context': 'Header'}) }}"/>
                </a>
            </div>
        </nav>
        {{ search_header }}
    </div>
    <div class="header__clock">
        <div class="pagefold-parent--medium">
            <div class="pagefold-triangle--medium"></div>
        </div>
        <div class="header__clock-items">
            <img loading="lazy" width="58" height="58" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-watch-static.svg" class="mb-8" alt="clock icon"/>
            <span class="text-small-caption">Åbningstider</span>
        </div>
    </div>
</header>
<div class="header-sidebar-nav" data-open="closed">
    <div class="header-sidebar-nav__background-wrapper">
      <div class="header-sidebar-nav__menu-wrapper">
        <div
          class="header-sidebar-nav__close-menu-button"
          id="js-header-sidebar-nav__close-menu-button"
          tabIndex="0"
          role="button"
          aria-label="Close menu"
        >
           {{ source(directory ~ '/themes/custom/novel/assets/dpl-design-system/icons/collection/CloseLarge.svg') }}
        </div>
        <nav aria-label="Sidebar site navigation">
           {{ drupal_menu('main') }}
        </nav>
      </div>
    </div>
  </div>
