{{ attach_library('novel/header') }}
<header class="header">
    <div class="header__logo-desktop">
            {{ logo }}
    </div>
    <div class="header__menu">
        <nav class="header__menu-first" aria-label="Primary site navigation">
            <div>
                <div class="header__menu-navigation-mobile">
                  <button
                  class="header__button header__button--right-border"
                  id="header-sidebar-nav__toggle"
                  aria-controls="sidebarNav"
                  aria-expanded="false"
                  >
                    <div class="pagefold-parent--small
                    header__menu-navigation-pagefold">
                        <div class="pagefold-triangle--small"></div>
                        <img width="20" height="14" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-menu.svg" alt="List of bookmarks"/>
                    </div>
                  </button>
                  <div class="header__menu-navigation-logo">
                    {{ logo }}
                  </div>
                </div>
                {{ drupal_menu('main') }}
            </div>
      {{ patron_menu }}
            <div class="header__button-responsive-switch">
                {{ opening_hours_clock_icon }}
                <a href="{{ url('dpl_favorites_list.list') }}" class="header__button header__button--left-border">
                    <img class="header__button-icon" width="24" height="24" src="/themes/custom/novel/assets/dpl-design-system/icons/basic/icon-heart.svg" alt="{{ 'List of bookmarks'|t({}, {'context': 'Header'}) }}"/>
                    <span class="header__button-text">{{ "Liked"|t({}, {'context': 'Global'}) }}</span>
                </a>
            </div>
        </nav>
        {{ search_header }}
    </div>
    {{ opening_hours_clock }}
</header>
<div class="header-sidebar-nav" data-open="closed">
    <div class="header-sidebar-nav__background-wrapper">
      <div class="header-sidebar-nav__menu-wrapper">
        <div
          class="header-sidebar-nav__close-menu-button"
          id="js-header-sidebar-nav__close-menu-button"
          tabIndex="0"
          role="button"
          aria-label="Close menu"
        >
           {{ source(directory ~ '/themes/custom/novel/assets/dpl-design-system/icons/collection/CloseLarge.svg') }}
        </div>
        <nav aria-label="Sidebar site navigation">
           {{ drupal_menu('main') }}
        </nav>
      </div>
    </div>
  </div>
