<article class="article">
    <header class="article-header">
        <h1 class="article-header__title">{{ label }}</h1>

        {% include '@novel/components/article-header-info.html.twig' with {'author_name': author_name, 'node': node} %}

    </header>

    <div class="rich-text">
        {{ content.body }}

        {# Iterates over each item in 'field_content', constructing a list of links if 'field_display_in_navigation' is true. #}
        {% if node.field_content is not empty %}
            <div class="row-buttons">
                {% for item in node.field_content %}
                    {% if item.entity.field_display_in_navigation is defined and item.entity.field_display_in_navigation.value != 0 %}
                        {# Set 'anchor_id' variable. Use 'field_anchor' value if not empty; otherwise, generate an anchor using the entity ID #}
                        {% set anchor_id = item.entity.field_anchor.value|default('anchor-' ~ item.entity.id.value)|escape %}
                        {% set title = item.entity.field_navigation_title.value|default(item.entity.field_title.value)|escape %}
                        <a class="row-button text-tags row-button__text capitalize-all" href="#{{ anchor_id }}">{{ title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {{ content.field_content }}
    </div>
</article>
