<article {{ attributes.addClass('event-page') }}>
  <header class="event-header">
        <section class="event-header__content">
            <!-- Tag -->
          <time class="event-header__date">
            {{ content.field_event_date }}
          </time>
            <h1 class="event-header__title">{{ label }}</h1>
            {{ content.field_event_link }}
        </section>
        <section class="event-header__visual ">
      {% if content.field_event_image.0 %}
        {{ content.field_event_image }}
        {% else %}
        <div class="image-credited__no-image"></div>
      {% endif %}
        </section>
    </header>

  <section class="event-description">
    <h2 class="event-description__title">{{ "Description"|trans }}</h2>
    <div className="event-description__content">
      <div class="event-description__description">{{ content.field_event_description }}</div>
      <div class="event-description__links">
        <!-- horizontal-term-line -->
      </div>
    </div>
    <dl class="list-description event-description__info list-description--event">
      {% if content.field_event_date.0 %}
                <div class="list-description__item">
                    <dt class="list-description__key">{{ "Time"|trans }}</dt>
                    <dd class="list-description__value">
                        {{ content.field_event_date['#items'].0.start_date|date("H:i") }}
                          -
                        {{ content.field_event_date['#items'].0.end_date|date("H:i") }}
                    </dd>
                </div>
            {% endif %}
      {% if content.field_ticket_categories.0 %}
        <div class="list-description__item">
          <dt class="list-description__key">{{ "Price"|trans }}</dt>
          <dd class="list-description__value list-description__value--column">
            {{ content.field_ticket_categories }}
          </dd>
        </div>
      {% endif %}
      {% if content.field_event_place.0 %}
      <div class="list-description__item">
        <dt class="list-description__key">
          {{ "Place"|trans }}:
        </dt>
        <dd class="list-description__value">
          {{ content.field_event_place }}
        </dd>
      </div>
      {% endif %}
      <div class="list-description__item">
        <dt class="list-description__key">
          {{ "Adresse"|trans }}:
        </dt>
        <dd class="list-description__value">
          {{ content.field_event_address }}
        </dd>
      </div>
    </dl>
  </section>
  {{ content|without('field_event_date', 'field_event_description', 'field_event_link', 'field_event_address',
  'field_event_place', 'field_ticket_categories', 'field_event_image') }}
</article>
