{# Set 'anchor_id' variable. Use 'field_anchor' value if not empty; otherwise, generate an anchor using the entity ID #}
{% set anchor_id = paragraph.field_anchor.value|default('anchor-' ~ paragraph.id.value)|escape %}

<div id="{{ anchor_id }}" class="user-registration-info">
  <h2 class="user-registration-info__title">{{ content.field_title }}</h2>

  <div class="user-registration-info__body">
    {{ content.field_body }}
  </div>

  {% if paragraph.fields.field_registration_link is not empty %}
    {% set link_field = paragraph.fields.field_registration_link.0 %}
    {% set url = link_field.uri|escape('url') %}
    {% set title = link_field.title|escape %}
    {% set target = paragraph.field_link_target.value|default('_self')|escape('html_attr') %}

    {# Render the link #}
    <a class="user-registration-info__link btn-primary btn-filled btn-large" href="{{ url }}" target="{{ target }}">{{ title }}</a>
  {% endif %}
</div>
