{#
  @todo This file can be deleted when RelatedContent takes over again.
  This markup already exists in event-list.html.twig, but due to how this and
  the old (this) view works, it cannot use a single twig file like
  RelatedContent can.
#}
{{ attach_library('novel/show-more') }}

{% if view_has_results %}
  <div {{ attributes.addClass('filtered-event-list') }} data-show-more-list-wrapper>
    {% if content.field_title %}
      <h2 class="filtered-event-list__heading">{{ content.field_title }}</h2>
    {% endif %}
    {{ content.view }}
    <button class="filtered-event-list__button btn-primary btn-outline
    btn-medium"
            type="button"
            aria-expanded="false"
            data-show-more-button
            data-show-more-text="{{ 'Show all'|trans }}"
            data-show-less-text="{{ 'Show less'|trans }}">
      {{ 'Show all'|trans }}
    </button>
  </div>
{% endif %}
