{# Set 'anchor_id' variable. Use 'field_anchor' value if not empty; otherwise, generate an anchor using the entity ID #}
{% set anchor_id = paragraph.field_anchor.value|default('anchor-' ~ paragraph.id.value)|escape %}

<div id="{{ anchor_id }}" class="rich-text paragraphs__item--user_registration_section__body">
  <h2 class="paragraphs__item--user_registration_section__title">{{ content.field_title }}</h2>
  {{ content.field_body }}

  {% if content.field_registration_link.0 is not empty %}
    {% set link_field = content.field_registration_link.0 %}
    {% set url = link_field['#url'] %}
    {% set title = link_field['#title']|escape %}
    {% set target = content.field_link_target.value|default('_self')|escape('html_attr') %}

    {# Render the link #}
    <a class="paragraphs__item--user_registration_section__link btn-primary btn-filled btn-large arrow__hover--right-small" href="{{ url }}" target="{{ target }}">{{ title }}</a>
  {% endif %}
</div>
