<a href="{{ eventinstance_url }}" class="event-list-item arrow__hover--right-small">
  <div class="event-list-item__image-container">
    {% if image_file_url and image_alt %}
      <img src="{{ image_file_url }}" alt="{{ image_alt }}" class="event-list-item__image" />
    {% endif %}
  </div>
  <div class="event-list-item__content">
    {{ content.event_categories }}
    <div class="event-list-item__date">
      {{ content.date }}
    </div>
    <h3 class="event-list-item__title">{{ content.title }}</h3>
    <div class="event-list-item__description">
      {{ content.event_description }}
    </div>
    <div class="event-list-item__location-wrapper">
      {% for item in content.event_place['#items'] %}
          <p class="event-list-item__location">{{ item.value }}</p>
      {% endfor %}
    </div>
    <div class="event-list-item__schedule">
      <time class="event-list-item__time" datetime="{{ datetime_attribute }}">
        {{ start_date }} - {{ end_date }}
      </time>
        {% if ticket_price_display is defined %}
        <p class="event-list-item__pricing">{{ ticket_price_display }}</p>
        {% endif %}
    </div>
  </div>
  {{ source(directory ~ '/assets/dpl-design-system/icons/arrow-ui/icon-arrow-ui-small-right.svg') }}
</a>
