<a href="{{ eventinstance_url }}" class="event-list-item-stacked arrow__hover--right-small">
  <h3 class="hide-visually">{{ content.title }}</h3>
  <time class="event-list-item-stacked__content" datetime="{{ datetime_attribute }}">
    <span class="event-list-item-stacked__date">{{ content.date }}</span>
    <span class="event-list-item-stacked__time">{{ start_time }} - {{ end_time }}</span>
  </time>
  {{ source(baseIconPath ~ '/arrow-ui/icon-arrow-ui-small-right.svg') }}
</a>
