{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'event-list-page'
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if view.getTitle() %}
    {{ title_prefix }}
    <h1 class="event-list-page__heading">{{ view.getTitle() }}</h1>
    {{ title_suffix }}
  {% endif %}
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  <div class="event-list-page__filters">
    {{ exposed }}
  </div>

  {{ attachment_before }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
