{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'content-list-page'
]
%}
<div{{ attributes.addClass(classes) }}>
    test
  {% if view.getTitle() %}
    {{ title_prefix }}
    <h1 class="content-list-page__heading">{{ view.getTitle() }}</h1>

    {{ title_suffix }}
  {% endif %}

  {{ header }}

  <ul class="content-list-page__filters">
  {# Skal måske slettes #}
    {% block facets %}
    {% endblock %}

    {{ exposed }}
  </ul>

  {{ attachment_before }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    <div class="empty-view">
      {{ empty }}
    </div>
  {% endif %}

  {{ pager }}
  {{ attachment_after }}
  {{ more }}
  {{ footer }}
  {{ feed_icons }}
</div>
